/* ==========================================================================
   Custom skin
   ========================================================================== */

/* Colors */
$background-color: #edf6ff !default;
$text-color: #000000 !default;
$muted-text-color: #37495c !default;
$primary-color: #455463 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #003670 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #e6f2ff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
